*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 50px;
}
.text-highlight {
    color: tomato;

}
h2 {
    font-size: 35px;

}
.container{
    
    margin-top: 25px;
}
.half-width img{
    width: 80%;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 100px;
}
.half-width p{
    margin-top: 20px;
}
